body {
    background-color: #f4f4f4;
    background-image: url('/img/fone.jpg'); 
    background-size: cover; 
    background-attachment: fixed;
}

h1 {
    font-family: 'Dragon Ball Z', sans-serif;
    letter-spacing: 1px;
}

.card {
    margin-bottom: 20px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}